<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.message.mapper.SiteMessagesMapper">

    <resultMap id="BaseResultMap" type="cn.zhangchuangla.message.model.entity.SiteMessages">
        <id property="id" column="id"/>
        <result property="senderId" column="sender_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="messageType" column="message_type"/>
        <result property="status" column="status"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <insert id="saveSiteMessage" parameterType="cn.zhangchuangla.message.model.entity.SiteMessages"
            useGeneratedKeys="true" keyProperty="id">
        insert into site_messages (sender_id, title, content, message_type)
        values (#{senderId}, #{title}, #{content}, #{messageType})
    </insert>

    <update id="isRead">
        update user_site_message
        set is_read = 1
        where message_id = #{messageId}
          and user_id = #{userId};
    </update>

    <update id="batchMarkAsRead">
        UPDATE user_site_message
        SET is_read = 1, read_at = NOW()
        WHERE message_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND user_id = #{userId}
    </update>


    <select id="getCurrentUserSiteMessagesList" resultMap="BaseResultMap">
        SELECT
        sm.id,
        sm.title,
        sm.message_type,
        sm.content,
        sm.created_time
        FROM
        site_messages sm
        JOIN
        user_site_message usm
        ON
        sm.id = usm.message_id
        WHERE
        usm.user_id = #{userId}
        <if test="isReadInt != null">
            AND usm.is_read = #{isReadInt}
        </if>
        ORDER BY
        sm.created_time DESC
    </select>


    <select id="getCurrentUserSiteMessageById" resultMap="BaseResultMap">
        select *
        from site_messages
        where id = (select message_id
                    from user_site_message
                    where user_id = #{userId}
                      and message_id = #{messageId}
                      and is_deleted = 0)
    </select>
</mapper>
