<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.message.mapper.UserSiteMessageMapper">

    <resultMap id="BaseResultMap" type="cn.zhangchuangla.message.model.entity.UserSiteMessage">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="messageId" column="message_id"/>
        <result property="isRead" column="is_read"/>
        <result property="isStarred" column="is_starred"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="readAt" column="read_at"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <update id="isRead">
        update user_site_message
        set is_read = 1
        where message_id = #{messageId}
          and user_id = #{userId};
    </update>

    <update id="batchMarkAsRead">
        UPDATE user_site_message
        SET is_read = 1, read_at = NOW()
        WHERE message_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND user_id = #{userId}
    </update>

    <update id="markAllAsRead">
        update user_site_message
        set is_read = 1
        where user_id = #{userId}
    </update>

    <update id="batchDeleteByMessageIds">
        UPDATE user_site_message
        SET is_deleted = 1
        WHERE message_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND user_id = #{userId}
    </update>

</mapper>
