package ${packageName}.model.vo.${businessName};

import cn.zhangchuangla.common.excel.annotation.Excel;
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.fasterxml.jackson.databind.ser.std.ToStringSerializer;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;

import java.util.Date;

/**
 * ${functionName}列表视图对象
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Schema(description = "${functionName}列表视图对象")
public class ${ClassName}ListVo {
        #foreach ($column in $columns)
                #if($column.isList == '1')

                        /**
                         * $column.columnComment
                         */
                        @Schema(description = "$column.columnComment")
                                #if($column.dictType && $column.dictType != '')
                                @Excel(name = "$column.columnComment", sort = ${foreach.index}, dictType = "$column.dictType")
                                        #if($column.javaType == 'Long' || $column.javaType == 'Integer')
                                        @JsonSerialize(using = ToStringSerializer.class)
                                        #end
                                #else
                                @Excel(name = "$column.columnComment", sort = ${foreach.index})
                                #end
                        private $column.javaType $column.javaField;
                #end
        #end
}
