package ${packageName}.model.request.${businessName};

import cn.zhangchuangla.common.core.base.BasePageRequest;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * ${functionName}查询请求参数
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@Schema(description = "${functionName}查询请求参数")
public class ${ClassName}QueryRequest extends BasePageRequest {
    #foreach ($column in $columns)
        #if($column.isQuery == '1')

            /**
             * $column.columnComment
             */
            @Schema(description = "$column.columnComment")
            private $column.javaType $column.javaField;
        #end
    #end
}
