package ${packageName}.model.vo.${businessName};

import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.fasterxml.jackson.databind.ser.std.ToStringSerializer;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;

import java.util.Date;

/**
 * ${functionName}视图对象
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Schema(description = "${functionName}视图对象")
public class ${ClassName}Vo {
    #foreach ($column in $columns)

        /**
         * $column.columnComment
         */
        @Schema(description = "$column.columnComment")
            #if($column.dictType && $column.dictType != '' && ($column.javaType == 'Long' || $column.javaType ==
                'Integer'))
            @JsonSerialize(using = ToStringSerializer.class)
            #end
        private $column.javaType $column.javaField;
    #end
}
