package ${packageName}.${moduleName}.model.request.${classNameLower};

import ${packageName}.common.base.BasePageRequest;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * ${tableComment}列表查询请求
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@Schema(description = "${tableComment}列表查询请求")
public class ${className}ListRequest extends BasePageRequest {

    #foreach ($field in $fields)
        #if($field.isQuery)
            /**
             * ${field.columnComment}
             */
            @Schema(description = "${field.columnComment}")
            private ${field.javaType} ${field.javaField};

        #end
    #end
} 