/**
 * ${functionName}相关类型定义
 *
 * @author ${author}
 * @date ${datetime}
 */

/**
 * ${functionName}查询请求
 */
export interface ${ClassName}QueryRequest {
    #foreach($column in $columns)
        #if($column.isQuery == '1')
            /** $column.columnComment */
                ${column.javaField}?: any;
        #end
    #end
}

/**
 * ${functionName}新增请求
 */
export interface ${ClassName}AddRequest {
    #foreach($column in $columns)
        #if($column.isInsert == '1' && $column.isPk != '1')
            /** $column.columnComment */
                ${column.javaField}#if($column.isRequired == '1')#else?#end: any;
        #end
    #end
}

/**
 * ${functionName}修改请求
 */
export interface ${ClassName}UpdateRequest {
    /** ${pkColumn.columnComment} */
        ${pkColumn.javaField}: any;
    #foreach($column in $columns)
        #if($column.isEdit == '1' && $column.isPk != '1')
            /** $column.columnComment */
                ${column.javaField}?: any;
        #end
    #end
}

/**
 * ${functionName}视图对象
 */
export interface ${ClassName}Vo {
    #foreach($column in $columns)
        /** $column.columnComment */
            ${column.javaField}: any;
    #end
    #if($tplCategory == 'tree')
        /** 子节点列表 */
        children?: any[];
    #end
    #if($tplCategory == 'sub')
        /** 子表数据列表 */
            ${subClassNameLower}List?: any[];
    #end
}

/**
 * ${functionName}列表视图对象
 */
export interface ${ClassName}ListVo {
    #foreach($column in $columns)
        #if($column.isList == '1')
            /** $column.columnComment */
                ${column.javaField}: any;
        #end
    #end
    #if($tplCategory == 'tree')
        /** 子节点列表 */
        children?: any[];
    #end
}

#if($tplCategory == 'sub')
/**
 * ${subClassName}视图对象
 */
export interface ${subClassName}Vo {
    /** ID */
    id: any;
    /** ${functionName}ID */
        ${subTableFkJavaField}: any;
    /** 创建时间 */
    createTime: any;
    /** 更新时间 */
    updateTime: any;
}

#end
/**
 * ${functionName}表单数据
 */
export interface ${ClassName}FormData {
    #foreach($column in $columns)
        #if($column.isInsert == '1' || $column.isEdit == '1')
            /** $column.columnComment */
                ${column.javaField}#if($column.isRequired == '1' && $column.isPk != '1')#else?#end: any;
        #end
    #end
    #if($tplCategory == 'sub')
        /** 子表数据列表 */
            ${subClassNameLower}List?: any[];
    #end
}

#if($tplCategory == 'sub')
/**
 * ${subClassName}表单数据
 */
export interface ${subClassName}FormData {
    /** ID */
    id?: any;
    /** ${functionName}ID */
        ${subTableFkJavaField}?: any;
}

#end
/**
 * ${functionName}搜索表单
 */
export interface ${ClassName}SearchForm {
    #foreach($column in $columns)
        #if($column.isQuery == '1')
            /** $column.columnComment */
                ${column.javaField}?: any;
        #end
    #end
}
