<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.system.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="cn.zhangchuangla.system.model.entity.Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="gender" column="gender"/>
    </resultMap>

    <sql id="Base_Column_List">
        select *
        from student
    </sql>

    <select id="listStudent" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        <where>
            <if test="request.name != null and request.name != ''">
                and name like concat('%', #{request.name}, '%')
            </if>
            <if test="request.age != null">
                and age = #{request.age}
            </if>
            <if test="request.gender != null">
                and gender = #{request.gender}
            </if>
        </where>
        order by id desc
    </select>

</mapper>
