<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.system.mapper.SysMenuMapper">


    <resultMap id="BaseResultMap" type="cn.zhangchuangla.system.model.entity.Menu">
        <id property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="treePath" column="tree_path"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="routeName" column="route_name"/>
        <result property="routePath" column="route_path"/>
        <result property="component" column="component"/>
        <result property="perm" column="perm"/>
        <result property="alwaysShow" column="always_show"/>
        <result property="keepAlive" column="keep_alive"/>
        <result property="visible" column="visible"/>
        <result property="sort" column="sort"/>
        <result property="icon" column="icon"/>
        <result property="redirect" column="redirect"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="params" column="params"/>
    </resultMap>


    <select id="getMenusByRoleCodes" resultType="cn.zhangchuangla.system.model.entity.Menu">
        select *
        from sys_menu
    </select>
</mapper>
