package ${packageName}.service;

import ${packageName}.model.entity.${ClassName};
import ${packageName}.model.request.${businessName}.${ClassName}AddRequest;
import ${packageName}.model.request.${businessName}.${ClassName}QueryRequest;
import ${packageName}.model.request.${businessName}.${ClassName}UpdateRequest;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;

import java.util.List;

/**
 * ${functionName} 服务接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Service extends IService<${ClassName}> {

    /**
     * ${functionName}分页列表
     *
     * @param request 查询参数
     * @return 分页列表
     */
    Page<${ClassName}> list${ClassName}(${ClassName}QueryRequest request);

    /**
     * 添加${functionName}（包含子表数据）
     *
     * @param request 请求参数
     * @return 操作结果
     */
    boolean add${ClassName}(${ClassName}AddRequest request);

    /**
     * 删除${functionName}（级联删除子表数据）
     *
     * @param ids ${functionName}ID集合
     * @return 操作结果
     */
    boolean delete${ClassName}(List<Long> ids);

    /**
     * 根据ID查询${functionName}信息（包含子表数据）
     *
     * @param id ID
     * @return ${functionName}信息
     */
    ${ClassName} get${ClassName}ById(Long id);

    /**
     * 修改${functionName}信息（包含子表数据）
     *
     * @param request 请求参数
     * @return 操作结果
     */
    boolean update${ClassName}(${ClassName}UpdateRequest request);
} 