<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.${moduleName}.mapper.${className}Mapper">

    <resultMap id="BaseResultMap" type="${packageName}.${moduleName}.model.entity.${className}">
        #foreach ($field in $fields)
            #if($field.isPk)
                <id property="${field.javaField}" column="${field.columnName}"/>
            #else
                <result property="${field.javaField}" column="${field.columnName}"/>
            #end
        #end
    </resultMap>
    <select id="list${className}" resultMap="BaseResultMap">
        select
        #foreach($field in $fields)
            #if($foreach.count == 1)
                ${field.columnName}
            #else
                , ${field.columnName}
            #end
        #end
        from ${tableName}
        <where>
            #foreach($field in $fields)
                #if($field.isQuery)
                    #if($field.queryType == 'LIKE')
                        <if test="request.${field.javaField} != null and request.${field.javaField} != ''">
                            and ${field.columnName} like concat('%', #{request.${field.javaField}}, '%')
                        </if>
                    #else
                        <if test="request.${field.javaField} != null">
                            and ${field.columnName} = #{request.${field.javaField}}
                        </if>
                    #end
                #end
            #end
        </where>
        order by sort desc
    </select>

</mapper> 