package ${packageName}.${moduleName}.mapper;

import ${packageName}.${moduleName}.model.entity.${className};
import ${packageName}.${moduleName}.model.request.${classNameLower}.${className}ListRequest;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.apache.ibatis.annotations.Param;

/**
 * ${tableComment} Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}> {

    /**
     * 分页查询${tableComment}信息
     *
     * @param page    分页对象
     * @param request 查询参数
     * @return 返回分页对象
     */
    Page<${className}> list${className}(Page<${className}> page, @Param("request") ${className}ListRequest request);
} 