<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangchuangla.quartz.mapper.SysJobLogMapper">

    <resultMap id="BaseResultMap" type="cn.zhangchuangla.quartz.model.entity.SysJobLog">
        <id property="jobLogId" column="job_log_id"/>
        <result property="jobName" column="job_name"/>
        <result property="jobGroup" column="job_group"/>
        <result property="invokeTarget" column="invoke_target"/>
        <result property="jobMessage" column="job_message"/>
        <result property="status" column="status"/>
        <result property="exceptionInfo" column="exception_info"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="listJobLogs" resultMap="BaseResultMap">
        select job_log_id, job_name, job_group, invoke_target, job_message, status, exception_info, create_time
        from sys_job_log
        <where>
            <if test="request.jobName != null and request.jobName != ''">
                AND job_name like concat('%', #{request.jobName}, '%')
            </if>
            <if test="request.jobGroup != null and request.jobGroup != ''">
                AND job_group = #{request.jobGroup}
            </if>
            <if test="request.status != null and request.status != ''">
                AND status = #{request.status}
            </if>
            <if test="request.invokeTarget != null and request.invokeTarget != ''">
                AND invoke_target like concat('%', #{request.invokeTarget}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

    <delete id="cleanJobLog">
        truncate table sys_job_log
    </delete>

</mapper>
