package ${packageName}.service;

import ${packageName}.model.entity.${ClassName};
import ${packageName}.model.request.${businessName}.${ClassName}AddRequest;
import ${packageName}.model.request.${businessName}.${ClassName}QueryRequest;
import ${packageName}.model.request.${businessName}.${ClassName}UpdateRequest;
import com.baomidou.mybatisplus.extension.service.IService;

import java.util.List;

/**
 * ${functionName} 服务接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Service extends IService<${ClassName}> {

    /**
     * ${functionName}树形列表
     *
     * @param request 查询参数
     * @return 树形列表
     */
    List<${ClassName}> select${ClassName}Tree(${ClassName}QueryRequest request);

    /**
     * 添加${functionName}
     *
     * @param request 请求参数
     * @return 操作结果
     */
    boolean add${ClassName}(${ClassName}AddRequest request);

    /**
     * 根据ID删除${functionName}
     *
     * @param id ${functionName}ID
     * @return 操作结果
     */
    boolean delete${ClassName}ById(Long id);

    /**
     * 根据ID查询${functionName}信息
     *
     * @param id ID
     * @return ${functionName}信息
     */
    ${ClassName} get${ClassName}ById(Long id);

    /**
     * 修改${functionName}信息
     *
     * @param request 请求参数
     * @return 操作结果
     */
    boolean update${ClassName}(${ClassName}UpdateRequest request);

    /**
     * 构建树形结构
     *
     * @param list 数据列表
     * @param parentId 父级ID
     * @return 树形结构列表
     */
    List<${ClassName}> buildTree(List<${ClassName}> list, String parentId);
} 